body {
  font-size: 16px;
  margin-left: 20px; 
}

h2 {
  padding-top: 20px;
}
  
#interval-container {
  display: flex;
  flex-direction: row;
}

.interval-swatch {
  width: 50px;
  height: 50px;
  border: 1px solid black; 
  margin: 20px 10px; 
}

.interval-boundaries, .interval-datapoints {
  padding: 20px 20px;
  font-size: 1.2em;
}
